<ion-view title="Escolha um dia" id="dias-agendar-consulta">
    <ion-content padding="true" class="has-header">
      <div class="card"><div class="item item-text-wrap"><i class="icon ion-information-circled"></i> Datas e quantidade de vagas disponíveis para "{{especialidade}}".</div></div>
      <ion-list>
        <div class="item" ui-sref="horariosAgendarConsulta">12/01/2017<span class="badge badge-positive">3</span></div>
        <div class="item" ui-sref="horariosAgendarConsulta">15/01/2017<span class="badge badge-positive">4</span></div>
        <div class="item" ui-sref="horariosAgendarConsulta">16/01/2017<span class="badge badge-positive">1</span></div>
        <div class="item" ui-sref="horariosAgendarConsulta">18/01/2017<span class="badge badge-positive">2</span></div>
        <div class="item" ui-sref="horariosAgendarConsulta">19/01/2017<span class="badge badge-positive">6</span></div>
      </ion-list>
    </ion-content>
</ion-view>